# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. C++
2. Python
3. R

**Objectives:**
- How to use GitHub
- How to use Rstuido
- What is Jupyter Notebook and how to use it.
- Libraries

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas
3. NumPy

|Data Science Tools|
 ----------------------
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python
1. addition
2. multiplication
3. substraction

In [2]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author:
Melis Kuntalp